<?xml version="1.0"?>
<robot name="david" xmlns:xacro="http://ros.org/wiki/xacro"\>  
<link name="testing_getbase_link">
  </link>
  <link name="testing_getright_track"\>
    <visual>
      <origin xyz="-0.26 0 0" rpy="-1.570795 0 0"/>
    <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
  </visual>
    <collision>
      <origin xyz="-0.26 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
    </geometry>
    </collision>
    <visual>
      <origin xyz="-0.16 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.16 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </collision>
    <visual>
    <origin xyz="-0.06 0 0" rpy="-1.570795 0 0"/>
      <geometry>
       <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </visual>

      <collision>
      <origin xyz="-0.06 0 0" rpy="-1.570795 0 0"/>
    
    <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>

      </collision>
    <visual>
      <origin xyz="0.04 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
        </geometry>
    </visual>
    <collision>
      <origin xyz="0.04 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="
  0.14 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="
  0.05" length="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.14 0 0" rpy="-1.570795 0 0"/>
      <geometry>
      \
  \  <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </collision>
\
  \    <visual>
      <origin xyz="0.27 0 0" rpy="-1.570795 0 0"/>
      <geometry>
\
  \        <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </visual>
\
  \    <collision>
      <origin xyz="0.27 0 0" rpy="-1.570795 0 0"/>
     \
  \ <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
\
  \    </collision>
    <visual>
      <origin xyz="0.21 0 0" rpy="-1.570795\
  \ 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
\
  \      </geometry>
    </visual>
    <collision>
      <origin xyz="0.21 0 0"\
  \ rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="\
  0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="testing_getbase_link_testing_getright_track_joint"\
  \ type="fixed">
    <parent link="testing_getbase_link"/>
    <child link="\
  testing_getright_track"/>
    <origin xyz="0 0.23 0" rpy="0 0 0"/>
  </joint>
\
  \  <link name="testing_getleft_track">
    <visual>
      <origin xyz="-0.26\
  \ 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05"\
  \ length="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin\
  \ xyz="-0.26 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder\
  \ radius="0.05" length="0.05"/>
      </geometry>
    </collision>
    <visual>
\
  \      <origin xyz="-0.16 0 0" rpy="-1.570795 0 0"/>
      <geometry>
   \
  \     <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </visual>
\
  \    <collision>
      <origin xyz="-0.16 0 0" rpy="-1.570795 0 0"/>
    \
  \  <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
\
  \    </collision>
    <visual>
      <origin xyz="-0.06 0 0" rpy="-1.570795\
  \ 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
\
  \      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.06 0\
  \ 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05"\
  \ length="0.05"/>
      </geometry>
    </collision>
    <visual>
      <origin\
  \ xyz="0.04 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder\
  \ radius="0.05" length="0.05"/>
      </geometry>
    </visual>
    <collision>
\
  \      <origin xyz="0.04 0 0" rpy="-1.570795 0 0"/>
      <geometry>
    \
  \    <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </collision>
\
  \    <visual>
      <origin xyz="0.14 0 0" rpy="-1.570795 0 0"/>
      <geometry>
\
  \        <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </visual>
\
  \    <collision>
      <origin xyz="0.14 0 0" rpy="-1.570795 0 0"/>
     \
  \ <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
\
  \    </collision>
    <visual>
      <origin xyz="0.27 0 0" rpy="-1.570795\
  \ 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
\
  \      </geometry>
    </visual>
    <collision>
      <origin xyz="0.27 0 0"\
  \ rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="\
  0.05"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="\
  0.21 0 0" rpy="-1.570795 0 0"/>
      <geometry>
        <cylinder radius="\
  0.05" length="0.05"/>
      </geometry>
    </visual>
    <collision>
  \
  \    <origin xyz="0.21 0 0" rpy="-1.570795 0 0"/>
      <geometry>
      \
  \  <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </collision>
\
  \  </link>
  <joint name="testing_getbase_link_testing_getleft_track_joint" type="\
  fixed">
    <parent link="testing_getbase_link"/>
    <child link="testing_getleft_track"\
  />
    <origin xyz="0 -0.23 0" rpy="0 0 0"/>
  </joint>
  <link name="testing_getcamera"\
  >
  </link>
  <joint name="testing_getbase_link_testing_getcamera_joint" type="\
  fixed">
    <parent link="testing_getbase_link"/>
    <child link="testing_getcamera"\
  />
    <origin xyz="0.3005 0 0.2113" rpy="-1.570796 0 -1.570796"/>
  </joint>
\
  \  <link name="testing_getcamera(1)">
  </link>
  <joint name="testing_getbase_link_testing_getcamera(1)_joint"\
  \ type="fixed">
    <parent link="testing_getbase_link"/>
    <child link="\
  testing_getcamera(1)"/>
    <origin xyz="0.02 0.2105 0.2113" rpy="-1.570796\
  \ 0 0.000004"/>
  </joint>
  <link name="testing_getcamera(2)">
  </link>
\
  \  <joint name="testing_getbase_link_testing_getcamera(2)_joint" type="fixed"\
  >
    <parent link="testing_getbase_link"/>
    <child link="testing_getcamera(2)"\
  />
    <origin xyz="0.020001 -0.1905 0.2113" rpy="-1.570796 0 -3.141592"/>
\
  \  </joint>
  <link name="testing_getcamera(3)">
  </link>
  <joint name="\
  testing_getbase_link_testing_getcamera(3)_joint" type="fixed">
    <parent link="\
  testing_getbase_link"/>
    <child link="testing_getcamera(3)"/>
    <origin\
  \ xyz="-0.3005 0 0.2013" rpy="-1.570796 0 1.570794"/>
  </joint>
  <link name="\
  testing_getVelodyne Puck">
    <visual>
      <origin xyz="0 -0.00165 0" rpy="\
  0 0 0"/>
      <geometry>
        <cylinder radius="0.052" length="0.0727"\
  />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.00165\
  \ 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.052" length="\
  0.0727"/>
      </geometry>
    </collision>
  </link>
  <joint name="testing_getbase_link_testing_getVelodyne\
  \ Puck_joint" type="fixed">
    <parent link="testing_getbase_link"/>
  \
  \  <child link="testing_getVelodyne Puck"/>
    <origin xyz="0.26 0 0.21" rpy="\
  0 0 0"/>
  </joint>
  <link name="testing_getdistance sensor">
  </link>
\
  \  <joint name="testing_getbase_link_testing_getdistance sensor_joint" type="\
  fixed">
    <parent link="testing_getbase_link"/>
    <child link="testing_getdistance\
  \ sensor"/>
    <origin xyz="0.33 0 0.09" rpy="0 0 0"/>
  </joint>
</robot>
