<?xml version="1.0" ?>

<!-- For cameras: x right, y down, z out. -->
<robot name="david">
    <link name="back_right" />
    <link name="back_sensors" />
    <link name="base_link" />
    <link name="d455_1_link" />
    <link name="d455_2_link" />
    <link name="l515_1_link" />
    <link name="l515_2_link" />
    <link name="left_tread" />
    <link name="right_depth_plate_top" />
    <link name="right_tread" />
    <link name="t265_link" />
    <link name="t265_pose_frame" />

    <joint name="right_tread_joint" type="fixed">
        <origin xyz="0 -0.275 0" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="right_tread" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="left_tread_joint" type="fixed">
        <origin xyz="0 0.275 0" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="left_tread" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="d455_2_link_joint" type="fixed">
        <origin xyz="0 -0.08265 -0.02027" rpy="0 0 -1.57" />
        <parent link="right_depth_plate_top" />
        <child link="d455_2_link" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="right_depth_plate_top_joint" type="fixed">
        <origin xyz="0.4225 0.125 0.1651" rpy="0 0 0" />
        <parent link="back_right" />
        <child link="right_depth_plate_top" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="back_right_joint" type="fixed">
        <origin xyz="-0.4225 -0.295 0.225" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="back_right" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="back_sensor_joint" type="fixed">
        <origin xyz="0 0.325 0" rpy="0 0 0" />
        <parent link="back_right" />
        <child link="back_sensors" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="t265_link_joint" type="fixed">
        <origin xyz="0 0 0.095" rpy="0 0 0" />
        <parent link="back_sensors" />
        <child link="t265_link" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="t265_pose_joint" type="fixed">
        <origin xyz="0 0 -0.095" rpy="0 0 0" />
        <parent link="t265_pose_frame" />
        <child link="base_link" />
        <axis xyz="0 0 0" />
    </joint>

    <!-- back l515 -->
    <joint name="l515_2_link_joint" type="fixed">
        <origin xyz="-0.045 0 0.185" rpy="0 0.1745329252 3.14" />
        <parent link="back_sensors" />
        <child link="l515_2_link" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="d455_1_link_joint" type="fixed">
        <origin xyz="-0.005 -0.02 0.16" rpy="0 0.261799386 1.57" />
        <parent link="left_tread" />
        <child link="d455_1_link" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name="l515_1_link_joint" type="fixed">
        <origin xyz="0.45 -0.04 0.38" rpy="0 0.261799387799 0" />
        <parent link="left_tread" />
        <child link="l515_1_link" />
        <axis xyz="0 0 0" />
    </joint>
</robot>
