<?xml version="1.0" ?>
<robot name="david" xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <link name="base_link" />
    <link name="l515_1_link" />
    <link name="t265_link" />
    <link name="t265_pose_frame" />

    <!-- Base link should be center of robot -->
    <joint name="base_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="t265_pose_frame" />
        <child link="base_link" />
    </joint>

    <joint name="l515_1_joint" type="fixed">
        <origin rpy="0 0 0" xyz="-0.03 0 0" />
        <parent link="base_link" />
        <child link="l515_1_link" />
    </joint>

    <joint name="t265_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="base_link" />
        <child link="t265_link" />
    </joint>
</robot>
