<?xml version="1.0" ?>
<robot name="david" xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <link name="map" />
    <link name="base_link" />
    <link name="d455_2_link" />
    <link name="t265_link" />
    <link name="t265_pose_frame" />
    <link name="t265_odom_frame" />

    <joint name="map_joint">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="map" />
        <child link="t265_odom_frame" />
    </joint>

    <!-- Base link should be center of robot -->
    <joint name="base_joint">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="t265_pose_frame" />
        <child link="base_link" />
    </joint>

    <joint name="d455_2_joint" type="fixed">
        <origin rpy="3.14 0 0" xyz="0 0.199 0" />
        <parent link="base_link" />
        <child link="d455_2_link" />
    </joint>

    <joint name="t265_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.0131 0.068 0" />
        <parent link="base_link" />
        <child link="t265_link" />
    </joint>
</robot>
