<?xml version="1.0" ?>
<launch>
    <!-- Elevation mapping node -->
    <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find david_config)/config/mapping.yaml" />
        <rosparam command="load" file="$(find david_config)/config/postprocessor_pipeline.yaml" />
    </node>

    <!-- Occupancy grid node -->
    <node pkg="david_navigation" type="occupancy_grid" name="occupancy_grid" />
</launch>
