<?xml version="1.0" ?>
<launch>
    <env name="ROSCONSOLE_CONFIG_FILE"
        value="$(find david_config)/config/rosconsole.conf"/>

    <!-- Pose publisher -->
    <node pkg="david_config" name="pose_pub" type="pose_pub" />

    <!-- Elevation mapping node -->
    <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find david_config)/config/mapping.yaml" />
        <!-- rosparam command="load" file="$(find david_config)/config/postprocessor_pipeline.yaml" /-->
    </node>

    <!-- Occupancy grid node -->
    <node pkg="david_navigation" type="occupancy_grid" name="occupancy_grid">
        <rosparam>
            rate: 0.1
            threshold: 0.1
        </rosparam>
    </node>
</launch>
