<!-- Navigation stack launch file. -->

<!-- TODO: fill out all fields and specify for our robot. -->

<launch>
  <master auto="start"/>

  <!-- Run the map server. -->
  <!-- <node name="map_server" -->
  <!--       pkg="map_server" type="map_server" -->
  <!--       args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->

  <!--- Run AMCL. -->
  <!-- <include file="$(find amcl)/examples/amcl_diff.launch" /> -->

  <node name="move_base"
        pkg="move_base" type="move_base"
        respawn="false" output="screen">

    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

    <rosparam file="$(find david_navigation)/config/move_base_config.yaml" command="load"/>
    <rosparam
        file="$(find david_navigation)/config/costmap_common_params.yaml"
        command="load" ns="global_costmap" />
    <rosparam
        file="$(find david_navigation)/config/costmap_common_params.yaml"
        command="load" ns="local_costmap" />
    <rosparam
        file="$(find david_navigation)/config/local_costmap_params.yaml"
        command="load" />
    <rosparam
        file="$(find david_navigation)/config/global_costmap_params.yaml"
        command="load" />
    <rosparam
        file="$(find david_navigation)/config/base_local_planner_params.yaml"
        command="load" />
  </node>

  <node name='base_controller' pkg='david_navigation' respawn='true'/>
  <node name='motor_bridge' pkg='motor_bridge' respawn='true'/>

</launch>
