<!-- Navigation stack launch file. -->

<!-- TODO: fill out all fields and specify for our robot. -->

<launch>
  <master auto="start"/>

  <include file='$(find david_config)/launch/mapping.launch'>   

  <node name="move_base"
        pkg="move_base" type="move_base"
        respawn="false" output="screen">

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

    <rosparam file="$(find david_navigation)/config/move_base_config.yaml" command="load"/>
    <rosparam
        file="$(find david_navigation)/config/costmap_common_params.yaml"
        command="load" ns="global_costmap" />
    <rosparam
        file="$(find david_navigation)/config/costmap_common_params.yaml"
        command="load" ns="local_costmap" />
    <rosparam
        file="$(find david_navigation)/config/local_costmap_params.yaml"
        command="load" />
    <rosparam
        file="$(find david_navigation)/config/global_costmap_params.yaml"
        command="load" />
    <rosparam
        file="$(find david_navigation)/config/base_local_planner_params.yaml"
        command="load" />
  </node>

  <node name='base_controller' pkg='david_navigation' respawn='true'/>
  <node name='motor_bridge' pkg='motor_bridge' respawn='true'/>

</launch>
